# Temporary files
*.swp

# Vim spellcheck files
.vim/spell/

# Vim history files
.vim/.netrwhist

# Conky files containing private information
.conky/conky-private.sed
.conky/conkyrc

# Ranger volatile files
.config/ranger/tagged
.config/ranger/bookmarks

# MPD volatile files
.config/mpd/state
