[submodule ".vim/pack/plugins/start/nerdtree"]
	path = .vim/pack/plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/pack/plugins/start/vim-gitgutter"]
	path = .vim/pack/plugins/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule ".vim/pack/plugins/start/vim-syntastic"]
	path = .vim/pack/plugins/start/vim-syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule ".vim/pack/plugins/start/vim-surround"]
	path = .vim/pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule ".zprezto"]
	path = .zprezto
	url = https://github.com/grimkriegor/prezto.git
[submodule ".themes/numix-black"]
	path = .themes/numix-black
	url = https://github.com/grimkriegor/numix-black.git
[submodule ".config/mpv/scripts/mpv-youtube-quality"]
	path = .config/mpv/scripts/mpv-youtube-quality
	url = https://github.com/jgreco/mpv-youtube-quality.git
[submodule ".vim/pack/plugins/start/grep"]
	path = .vim/pack/plugins/start/grep
	url = https://github.com/yegappan/grep.git
[submodule ".vim/pack/plugins/start/vim-focus-autocmd"]
	path = .vim/pack/plugins/start/vim-focus-autocmd
	url = https://github.com/amerlyq/vim-focus-autocmd.git
[submodule ".vim/pack/plugins/start/tagbar"]
	path = .vim/pack/plugins/start/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule ".vim/pack/plugins/start/YouCompleteMe"]
	path = .vim/pack/plugins/start/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule ".vim/pack/plugins/start/vim-unimpaired"]
	path = .vim/pack/plugins/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule ".vim/pack/plugins/start/auto-pairs"]
	path = .vim/pack/plugins/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule ".vim/pack/plugins/start/vim-openscad"]
	path = .vim/pack/plugins/start/vim-openscad
	url = https://github.com/sirtaj/vim-openscad.git
