# Temporary files
*.swp
swap/
__pycache__
*.pyc
*.sync-conflict*

# Staging scripts
.local/bin/scripts/staging/*

# Vim
.vim/spell/
.vim/.netrwhist
.vim/after/ftplugin/workspace/

# Ranger
.config/ranger/tagged
.config/ranger/bookmarks

# nnn
.config/nnn/.selection
.config/nnn/.history*
.config/nnn/sessions
.config/nnn/.lastd

# MPD
.config/mpd/state

# MPV
.config/mpv/watch_later

# Conky
.conky/

# Mutt and DAV wizards
.config/mutt
.config/davwizard
.config/khal
.config/khard

# Weechat
.weechat/

# stig
.config/stig/profile

# i3blocks
.config/serverstats
