[submodule "nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git

[submodule "supertab"]
	path = .vim/bundle/supertab
	url = https://github.com/ervandew/supertab

[submodule "vim-gitgutter"]
	path = .vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git

[submodule "vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround

[submodule "zprezto"]
	path = .zprezto
	url = https://github.com/grimkriegor/prezto.git
