# Temporary files
*.swp
swap/
__pycache__
*.pyc
*.sync-conflict*

# Scripts
.scripts/staging/*

# Vim
.vim/spell/
.vim/.netrwhist
.vim/after/ftplugin/workspace/

# Ranger
.config/ranger/tagged
.config/ranger/bookmarks

# nnn
.config/nnn/.selection
.config/nnn/.history*
.config/nnn/sessions

# MPD
.config/mpd/state

# MPV
.config/mpv/watch_later

# Conky
.conky/conky-private.sed
.conky/conkyrc

# Mutt and DAV wizards
.config/mutt
.config/davwizard
.config/khal
.config/khard

# Weechat
.weechat/
