#!/usr/bin/env sh

# xautolock
xautolock -time 5 -locker 'powerhandler lock' &
powerhandler lock &

# Add wallpaper
set-wallpaper &

# Composite manager
picom --xrender-sync-fence &

# Notification handler
dunst &

# Network Manager applet
nm-applet &

# Blueman applet
blueman-applet &

# MPD
ps cax | grep -q mpd || \
  mpd &

# Disable touchpad
synclient TouchpadOff=1 &

# watchdock
sleep 2 && watchdock &
