*foreground: #dddddd
*foreground_bold: #a8a19f
*cursor: #a8a19f
!!background = #1b1918
*background: rgba(0, 0, 0, .92)

!! black
*color0: #1b1918
*color8: #766e6b
*color16: #000000
!! red
*color1: #f22c40
*color9: #f22c40
!! green
*color2: #5ab738
*color10: #5ab738
!! yellow
*color3: #d5911a
*color11: #d5911a
!! blue
*color4: #407ee7
*color12: #407ee7
!! magenta
*color5: #6666ea
*color13: #6666ea
!! cyan
*color6: #00ad9c
*color14: #00ad9c
!! white
*color7: #f1efee
*color15: #f1efee

xscreensaver.splash: false

!font settings
xscreensaver.Dialog.headingFont:        -*-dina-bold-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.bodyFont:           -*-dina-medium-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.labelFont:          -*-dina-medium-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.unameFont:          -*-dina-medium-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.buttonFont:         -*-dina-bold-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.dateFont:           -*-dina-medium-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.passwd.passwdFont:         -*-dina-bold-r-*-*-12-*-*-*-*-*-*-*

!general dialog box (affects main hostname, username, password text)
xscreensaver.Dialog.foreground:         #ffffff
xscreensaver.Dialog.background:         #111111
xscreensaver.Dialog.topShadowColor:     #111111
xscreensaver.Dialog.bottomShadowColor:  #111111
xscreensaver.Dialog.Button.foreground:  #666666
xscreensaver.Dialog.Button.background:  #ffffff

!username/password input box and date text colour
xscreensaver.Dialog.text.foreground:    #666666
xscreensaver.Dialog.text.background:    #ffffff
xscreensaver.Dialog.internalBorderWidth:2
xscreensaver.Dialog.borderWidth:        20
xscreensaver.Dialog.shadowThickness:    2

!timeout bar (background is actually determined by Dialog.text.background)
xscreensaver.passwd.thermometer.foreground:  #ff0000
xscreensaver.passwd.thermometer.background:  #000000
xscreensaver.passwd.thermometer.width:       8

!datestamp format--see the strftime(3) manual page for details
xscreensaver.dateFormat:    %I:%M%P %a %b %d, %Y

!!Rxvt*iconFile: /usr/share/icons/terminal.svg
URxvt.intensityStyles:	false
URxvt.background:       [95]#000000
URxvt.depth:		32
!!URxvt.font: 		xft:mono:size=10
URxvt.font: 		xft:monospace:size=10
URxvt.letterSpace:	-1
URxvt.scrollBar:	false
URxvt.cursorColor:	white
URxvt.perl-ext-common:	default,matcher,resize-font
URxvt.perl-lib:		$HOME/.config/Scripts
URxvt.url-launcher:	/usr/bin/xdg-open
URxvt.matcher.button:	1
URxvt.resize-font.smaller:	C-Down
URxvt.resize-font.bigger:	C-Up
URxvt.colorUL:		#4682B4

!                       'background', 'border', 'dividing line'
rofi.color-window:	#000000, #000000, #000000
!                       'bg',    'fg',    'bgalt', 'hlbg',  'hlfg'
rofi.color-normal:	#111111, #D8DEE9, #111111, #444444, #ffffff
rofi.color-active:	#D8DEE9, #5E81AC, #000000, #D8DEE9, #000000
rofi.color-urgent:	#D8DEE9, #5E81AC, #000000, #D8DEE9, #000000

rofi.font:              mono 14
rofi.fullscreen:        false
rofi.padding:           2
rofi.lines:             10
rofi.bw:                4
rofi.case-sensitive:    false
rofi.dpi:               1
rofi.hide-scrollbar: true
